@model IEnumerable<NeoXam.Domain.Entities.employe>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_LayoutHome.cshtml";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.adresse)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Email)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.haveC)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.image)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.joinDate)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.lastDay)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.nbJours)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Nom)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.numTel)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Per_email)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Prenom)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.rib)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.type)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.IdContraEmploye)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.idDep)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.employeCIN1)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.employeCIN2)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.idEquipe)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.idGrade)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CIN_Man)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.idMetier)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.adresse)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Email)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.haveC)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.image)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.joinDate)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.lastDay)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.nbJours)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Nom)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.numTel)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Per_email)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Prenom)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.rib)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.type)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.IdContraEmploye)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.idDep)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.employeCIN1)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.employeCIN2)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.idEquipe)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.idGrade)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.CIN_Man)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.idMetier)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.CIN }) |
            @Html.ActionLink("Details", "Details", new { id=item.CIN }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.CIN })
        </td>
    </tr>
}

</table>
