@model IEnumerable<NeoXam.Domain.Entities.equipe>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.labelEquipe)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CIN)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.idPro)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.labelEquipe)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.CIN)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.idPro)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.idEquipe }) |
            @Html.ActionLink("Details", "Details", new { id=item.idEquipe }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.idEquipe })
        </td>
    </tr>
}

</table>
